{% load crispy_forms_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Create exam</title>
</head>
<body>

 <div style="padding:30px;max-width:600px;width:600px;background-color:#99CCFF;display: block;margin:auto;margin-top:100px;margin-bottom:100px;">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="text-center">
                    <h2>Add Question</h2>
                </div>
                {{ form|crispy }}
                <div class="text-center">
                <button type="submit"  class="btn btn-success ">Add</button>
                </div>
            </form>
        </div>



</body>
</html>