<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add Question</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Exam </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/exam/"><b>Submit</b></a>
                </li>
              </ul>
            </div>
</nav>
<div style="padding:30px;max-width:600px;width:600px;background-color:#99CCFF;display: block;margin:auto;margin-top:100px;margin-bottom:100px;">
            <form action="/new/" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="text-center">
                    <h2> You add another question or submit</h2>
                </div>

                <div class="text-center">
                <button type="submit"  class="btn btn-success ">Add</button>

                </div>
            </form>
        </div>

</body>
</html>